version: '3'
services:
  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "5671:5671"
      - "4369:4369"
      - "15671:15671"
      - "15672:15672"
      - "25672:25672"
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    networks:
      - rabbitmq-network

networks:
  rabbitmq-network:
    driver: bridge
